@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap");

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

body {
  background-color: rgba(113, 196, 223, 0.712);
}
.text {
  color: navy;
  text-align: center;
  font-family: "GFS Neohellenic", sans-serif;
  font-size: 25px;
  text-shadow: 2px 2px 8px #0000007a;
}

.title {
  font-family: "GFS Neohellenic", sans-serif;
  text-align: center;
  color: navy;
  font-size: x-large;
}
img {
  display: flex;

  margin: auto;
  margin-top: 40px;
  border: 10px solid navy;
  object-fit: cover;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin-top: 10px;
  list-style: none;
  font-family: "GFS Neohellenic", sans-serif;
}

ul {
  margin-top: 80px;
}
hr {
  border: none;
  border-top: 3px double navy;

  overflow: visible;
  text-align: center;
  height: 5px;
}

.t {
  font-family: "GFS Neohellenic", sans-serif;
  font-size: large;
  text-align: left;
}

.b {
  font-family: "GFS Neohellenic", sans-serif;
  text-align: right;
  font-size: large;
}
